<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>

    RewriteEngine On

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
    Redirect /plan https://tienda.bitel.com.pe/postpago/Bitel/chip-bitel/portabilidad/flash-49_90/sin-contrato
    Redirect /postpago/xiaomi/redmi-note-7/portabilidad/flash-49_90/6-meses/ https://tienda.bitel.com.pe/postpago/xiaomi/redmi-note-7-64gb/portabilidad/flash-49_90/6-meses/
</IfModule>
