.alert-warning {
  color: #ffffff;
  background: url("/images/alerts/background.png");
  background-size: cover;
  border: none;
  position: fixed;
  width: 650px;
  height: auto;
  z-index: 99999;
  right: 170px;
  bottom: -10px;
  font-size: 20px;
  font-weight: 300;
  padding: 20px 35px;
}

.alert-body {
  margin: 30px 0;
}

.alert .btn-close {
  background: white;
  color: #006072;
  border-radius: 50%;
  opacity: 1;
  height: 30px;
  width: 30px;
  span {
    font-size: 45px;
    line-height: 30px;
    font-weight: 300;
  }
}

.alert-warning.alert-ws {
  background: #efefef;
  color: #169599;
  padding: 5px;
  width: 525px;
  .alert-header {
    position: relative;
    top: 8px;
  }
  .alert-body {
    margin: 50px 0;
    margin-top: 0px;
    margin-bottom: 0;
  }
  .btn-close {
    right: 5px;
    top: -4px;
    background: #008c95;
    border: 1px solid #fff;
    box-sizing: content-box;
  }
  img {
    max-height: 140px;
    margin-top: -30px;
  }
  span {
    color: #fff;
  }
  p {
    font-size: 18px;
    font-weight: 400;
    margin-top: 10px;
  }
}

.alert-warning.alert-ws::before {
  content: "";
  width: 100%;
  height: 50px;
  background: #008c95;
  border-radius: 4px 4px 0 0;
  position: absolute;
  left: 0;
  top: 0;
}

@media (max-width: 991px) {
  .alert-warning {
    left: calc(50% - 325px);
    right: inherit;
  }
  .alert-warning {
    left: calc(50% - 262.5px);
    right: inherit;
  }
}

@media (max-width: 767px) {
  .alert-warning.alert-ws {
    .center-flex {
      display: block;
    }
    img {
      margin-top: 0;
      width: 130px;
      margin: auto;
    }
  }
}

@media (min-width: 768px) {
  .alert-warning.alert-ws {
    .alert-header > div > div > span {
      margin-left: -25px;
    }
    .alert-body p {
      margin-left: -25px;
    }
  }
}

@media (max-width: 600px) {
  .alert-warning {
    width: 300px;
    left: calc(50% - 150px);
    top: 120px;
    bottom: inherit;
    .center-flex {
      display: block;
      img {
        width: 90px;
        margin: auto;
      }
    }
    .alert-body {
      margin: 20px 0 !important;
    }
  }
  .alert-warning.alert-ws {
    width: 300px;
    right: inherit;
  }
}

