// Brands
$bitel-primary: #ffe000;
$bitel-secondary: #008994;
// $brand-info: #8eb4cb;
// $brand-success: #2ab27b;
// $brand-warning: #cbb956;
// $brand-danger: #bf5329;

// text
$bitel-text-muted: #6d6d6d;


// Reset

$color-secundary: #129ea2;
$color-white: #ffffff;
$color-black: #000000;


$font-roboto : 'Roboto', sans-serif;
$light: 300;
$regular: 400;
$medium: 500;
$bold: 700;

$font-roundbold: 'arialrounded_mtbold';