.cart-link {
  display: inline-block;
  position: relative;
  padding: 5px;
  .cart-icon {
    background: url(/images/header/svg/icon-cart.svg) no-repeat 0 0;
    background-size: cover;
    height: 27px;
    width: 27px;
    display: block;
    @media screen and (max-width: 515px){
      height: 35px;
      width: 35px;
    }
  }
  .count-icon {
    position: absolute;
    top: -7px;
    right: -7px;
    font-size: 10px;
    text-align: center;
    line-height: 20px;
    padding-top: 2px;
    background-color: #008c95;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    color: #fff;
    transition: 0.5s ease all;
    @media screen and (max-width: 515px){
      font-size: 14px;
      line-height: 24px;
      width: 28px;
      height: 28px;
    }
  }
}

.navbar-header .cart-link {
  margin-top: 11px;
  margin-right: 10px;
  float: right;
}

#detalle-carrito .imagen-equipo {
  position: relative;
}

#detalle-carrito .btn-detalle a.regresar {
    width: 46.4%;
    margin-right: 10px;
    background-color: #ffe60d;
    color: #008c95;
}

#detalle-carrito .btn-detalle a {
    border: 1px solid transparent;
    text-transform: uppercase;
    width: 50%;
    border-radius: 0;
    padding: 0;
    line-height: 30px;
    font-size: 12px;
}


#section-pedido .row .detalle-pedido {
    display: block;
}


#form-cliente form .btn-detalle a.regresar {
  width: 46.4%;
  margin-right: 10px;
  background-color: #ffe60d;
  color: #008c95;
  border: 1px solid transparent;
  text-transform: uppercase;
  border-radius: 0;
  padding: 0;
  line-height: 40px;
  font-size: 12px;
}
