footer{
	margin-top: 0;
	background: #4cb9ca;
	padding-bottom: 0;
	.box-footer-content{
		display: flex;
		align-items: flex-start;
		@media screen and (max-width: 1170px){
			flex-direction: column
		}
		.box-footer{
			&.box-footer-logotipo{
				width: 20%;
				@media screen and (max-width: 1170px){
					width: 100%;
					margin-bottom: 40px;
					.box-item{
						padding-left: 25px;
					}
				}
				.box-item{
					width: 100%;
				}
			}
			&.box-footer-options{
				width: 70%;
				display: flex;
				@media screen and (max-width: 1170px){
					width: 100%;
					flex-wrap: wrap;
					margin-bottom: 40px;
					.box-item{
						padding-left: 25px;
					}
				}
				.box-item{
					width: 50%;
					&.box-item-postpago,
					&.box-item-postpago{

						margin-bottom: 40px;
					}
					&:last-child{
						margin-bottom: 0;
					}
				}
			}
			&.box-footer-social-media{
				width: 10%;
				@media screen and (max-width: 1170px){
					width: 100%;
					.box-item{
						padding-left: 25px;
					}
				}
				.box-item{
					width: 100%;
				}
			}

		}
	}

		.box-item{
			color: $color-white;
			.title-nav{
				margin-bottom: 12px;
				color: $color-white;
				font-size: 16px;
				font-weight: $regular;
				font-family: $font-roboto;
			}
			ul{
				margin: 0;
				padding: 0;
				li{
					list-style: none;
					padding: 0;
					margin-bottom: 10px;
					&:last-child{
						margin-bottom: 0;
					}
				}
			}
			a{
				color: $color-white;
				font-weight: $light;
				&:hover{
					color: $color-white;
					text-decoration: none;
				}
			}
			&.box-item-logotipo{
				img{
					width: 91px;
				}
			}
		}

	}


// .box-footer{
// 	// display: flex;
// 	// align-items: flex-start;
// 	// justify-content: space-between;
// 	// flex-wrap: wrap;
// 	@media screen and (max-width: 1170px){
// 		.box-item{
// 			padding-left: 25px;
// 			width: 50%;
// 			margin-bottom: 40px;
// 			max-width: 117px;
// 			&:last-child{
// 				margin-bottom: 0;
// 			}
// 			&.box-item-logotipo{
// 				width: 100%;
// 				margin-bottom: 20px;
// 			}
// 		}

// 	}
// }

.box-footer-copyright{
	background: #fee945;
	margin-top: 50px;
	.box-footer-item{
		padding: 20px;
		display: flex;
		.box-item,
		a{
			color: #1c1c1c;
			font-family: $font-roboto;
			font-weight: $light;
			&:hover{
				text-decoration: underline;
				color: #1c1c1c;

			}

		}
		justify-content: space-between;
		@media screen and (max-width: 1170px){
			flex-direction: column;
			text-align: center;
		}
	}
}