#descripcion-equipo{
    .equipo-prepago{
        .btn-mas-options{
            a{
                line-height: 70px !important;
                border-radius: 4px !important;
                background-color: #4cb9ca !important;
                padding: 0 !important;
                color: #ffffff !important;
                &:hover{
                    color: #008994 !important;
                    background: #fee945 !important;
                }
            }
        }
        .btn-comprar-prepago {
            margin-bottom: 20px;
            button{

                line-height: 70px !important;
                border-radius: 4px !important;
                background-color: #9f5ed9 !important;
                &:hover{
                    color: #008994 !important;
                    background: #fee945 !important;
                }
            }
        }
        // .detalle-product{
        //     border: none !important;
        //     .price-title{
        //         font-size: 32px;
        //     }
        //     span{
        //         font-size: 12px !important;
        //         font-family: $fontfamilyroboto;
        //         &.title-precio{
        //             font-size: 12px;
        //             color:  #10a8b0;
        //         }
        //     }

        // }
        .price-product{
            width: 100%;
        }

        .detalle-product{
            &::before,
            &::after{
                display: none;
            }
        }
        
        
    }
}
@media (min-width: 1200px){

    .col-lg-3{
        &.col-lg-3-color{
            width: 125px;
        }
    }

    .col-lg-3{
        &.col-lg-3-precio{
            width: 170px;
        }
    }
    
    .col-lg-4{
        &.col-lg-4-button{
            width: 240px;
        }
    }

    
}

.box-item-comercial{
    &.box-item-comercial-info{
        .box-column:last-child{
            // width: 100px;
            // .item-comercial-icon{
            //     float: right;
            // }
            // @media screen  and (max-width: 410px){
            //     width: 90px;
            // }
        }
    }
}