// #planes {
//     margin-top: -330px;
// }
#content-page .tag {
  display: none;
}

.option-select .radio-inline.is-active {
  border: 1px solid #008c95;
}

@media (max-width: 480px) {
  // .col-12-mob {
  //   width: 100%;
  // }

  #content-page .tag {
    display: flex;
  }
}
