/*=============================================
=            Info Biitel block            =


// Fuentes Usadas Bittel HOME

Montserrat Thin
Montserrat Light
Montserrat Regular
Montserrat Medium
Montserrat SemmiBold
Montserrat Bold

// Colores Usados Bittel

Color Primary #f4dd4a
COlor Primary Bold #ffe741
COlor Primary UBold #ffb212

Color Secundary #008994
Color Secundary Bold #008b95
Color Secundary UBold #00838b

Color texto #4e4e4e
Color texto light #797878

=====  End of Info Biitel block  ======*/




// FUENTES - FONT WEIGHT

$Fw-Thin = 100
$Fw-Light = 300
$Fw-Regular = 400
$Fw-Medium = 500
$Fw-SemiBold = 600
$Fw-Bold = 700


// COLORES

$Color-White = #ffffff
$Color-Black = #000000
$Color-skyblue = #00c3d3


// COMPARA TUS EQUIPOS

$Color-Gray-Bg = #f4f4f4
$Color-Border = #c4c4c4


// CAROUSEL MOVIL

$Color-Slider-Bg = #9c9aa0


// COLORES BRAND

$Color-Primary = #ffe60d
$Color-Primary-Bold = #ffe741
$Color-Primary-UBold = #ffb212

$Color-Secundary-Light = #169599
$Color-Secundary = #008C95
$Color-Secundary-Bold = #008b95
$Color-Secundary-UBold = #00838b


$Color-Gray-Thin = #e4e3e3
$Color-Gray-ULight = #cecece
$Color-Gray-Light = #797878
$Color-Gray = #4e4e4e
$Color-Gray-Bold = #A8A8A8



// FONT-SIZE

$Fz-10 = 10px
$Fz-11 = 11px
$Fz-12 = 12px
$Fz-13 = 13px
$Fz-14 = 14px
$Fz-15 = 15px
$Fz-16 = 16px
$Fz-17 = 17px
$Fz-18 = 18px
$Fz-19 = 19px
$Fz-20 = 20px
$Fz-21 = 21px
$Fz-22 = 22px
$Fz-23 = 23px
$Fz-24 = 24px
$Fz-25 = 25px
$Fz-26 = 26px
$Fz-27 = 27px
$Fz-28 = 28px
$Fz-29 = 29px
$Fz-30 = 30px
$Fz-31 = 31px
$Fz-32 = 32px
$Fz-33 = 33px
$Fz-34 = 34px
$Fz-35 = 35px
$Fz-36 = 36px
$Fz-37 = 37px
$Fz-38 = 38px
$Fz-39 = 39px
$Fz-40 = 40px



body
    margin 0
    padding 0
    font-family 'Montserrat', sans-serif !important
    color $Color-Gray !important

section
    .container
      // width 970px

h1
h2
h3
h4
h5
h6
  font-family: 'Montserrat', sans-serif

a:hover
  text-decoration  none

:focus
  outline none !important

.glyphicon-menu-hamburger:before
  font-size 15px

.form-control:focus
  box-shadow none

.slick-slider
  ul.slick-dots
    display none !important
    border-radius 10px
    background-color $Color-Slider-Bg
    left 10px
    right 10px
    width 90%
    height 18px
    bottom -30px
    li
      top -6px
      background transparent
      width 40px
      height 14px
      margin 0
      button
        width 40px
        height 14px
        padding 0
        &:before
          opacity 0
          display none
      &.slick-active
        background-color: $Color-Gray-Bg
        border-radius 10px
        width 40px
        height 14px
    @media(max-width 736px)
      display block !important
